@import "../../../utils";

.Section7 {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  background: #3e3e3e;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: -175%;
  z-index: -3;
}

.rectangle {
  border: 2px solid #d9d9d9;
  max-width: 1002px;
  max-height: 587px;
  width: 83vw; //1207
  height: 48.63vw;
  flex-shrink: 0;
  margin-top: 123px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.previewImage {
  flex-shrink: 0;
}

.playButton {
  max-width: 96.812px;
  max-height: 96.812px;
  width: 8vw;
  height: 8vw;
  flex-shrink: 0;
  margin-top: 23.5%;
  margin-left: 44.2%;
  position: absolute;
  top: 0;
}

.previewImage2 {
  display: none;
}

.playButton2 {
  display: none;
}

.interviewText {
  color: #fff;
  font-family: Mikro, serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: lowercase;
  margin-top: 3.5vw;
  margin-left: auto;
  margin-right: auto;
}

.textReviews {
  color: #dedede;
  font-family: Mikro, serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: lowercase;
}

.arrow {
 /* width: 41px;
  height: 41px;
  flex-shrink: 0;
  margin-top: 1134px;
  margin-left: 91.15vw;
  margin-right: 6.4vw;
  position: absolute;*/

  margin-left: auto;
  margin-top: auto;
}

.arrow2 {
  display: none;
}

.block {
  margin: 16vw 111px 17px 103px;
  display: flex;
}

.lines {
  width: 100%;
  height: 2px;
  background: #dedede;
}

.reviews {
  margin: 40px 111px 17px 103px;
}

.recallTime {
  color: #dedede;
  font-family: Montserrat, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-variant: small-caps;
}

.buttonExpand {
  color: #faad67;
  font-family: Montserrat, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-variant: small-caps;
}

.review, .review2 {
  color: #dedede;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-variant: small-caps;
}

.reviewMobile {
  display: none;
}

.downloadButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 478px;
  height: 107px;
  padding: 10px;
  gap: 10px;
  flex-shrink: 0;
  border: 1px solid #dedede;
  margin: 4.45vw auto 5.26vw auto;
}

.textDownload {
  color: #dedede;
  font-family: Mikro, serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
}

@include xxl {
  .Section7{
    padding-top: 123px;
  }

  .rectangle {
    margin: 0 auto;
  }

  .interviewText{
    margin: 61px auto 0;
  }

  .downloadButton{
    margin: 57px auto 91px;
  }

  .block {
    margin-top: 276px;
  }
}

@include xl {

}

@include l {
}

@include lg {
  .interviewText {
    font-size: 4.6875vw;
  }
}

@include md {
  .reviews {
    margin-left: 5.5vw;
    margin-right: 4vw;
  }
  .block {
    margin-left: 5.5vw;
    margin-right: 4vw;
  }
  .downloadButton {
    width: 62.2vw;
    height: 15.8vw;
    //padding: 10px;
    //gap: 10px;
  }
  .textDownload {
    font-size: 6.25vw;
  }
  .rectangle {
    margin-top: 16px;
  }
  .review, .review2 {
    font-size: 21px;
  }
}

@include sm {
 /* .Section7 {
    width: 100%;
    height: 1409px;
    flex-shrink: 0;
  }

  .rectangle {
    border: 0.5px solid #d9d9d9;
    width: 579px;
    height: 376px;
    flex-shrink: 0;
    margin-top: 16px;
    margin-left: 44px;
  }

  .rectangle2 {
    margin-top: 124px;
    margin-left: 65px;
    position: relative;
  }

  .previewImage {
    display: none;
  }

  .previewImage2 {
    display: block;
    width: 459px;
    height: 198px;
    flex-shrink: 0;
  }

  .playButton {
    display: none;
  }

  .playButton2 {
    display: block;
    width: 67px;
    height: 67px;
    flex-shrink: 0;
    position: absolute;
    top: 0%;
    margin-top: 76px;
    margin-left: 196px;
  }

  .interviewText {
    color: #dedede;
    font-family: Mikro, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
    margin-top: 17px;
    margin-left: 61px;
    position: absolute;
  }

  .textReviews {
    color: #dedede;
    font-family: Mikro, serif;
    font-size: 35.787px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
    margin-top: 13px;
    margin-left: 60px;
    margin-bottom: 5px;
  }

  .arrow {
    display: none;
  }

  .arrow2 {
    display: block;
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    stroke-width: 1.491px;
    stroke: #dedede;
    margin-top: 418px;
    margin-left: 560px;
    margin-right: 56px;
    position: absolute;
  }

  .lines {
    height: 0.746px;
  }

  .reviews {
    display: flex;
    flex-direction: column;
    margin: 30px 36px 29px 41px;
    width: 579px;
    height: 195px;
    flex-shrink: 0;
  }

  .recallTime {
    color: #dedede;
    font-family: Montserrat, serif;
    font-size: 20.876px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-variant: small-caps;
  }

  .review, .reviewMobile {
    color: #dedede;
    font-family: Montserrat, serif;
    font-size: 20.876px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-variant: small-caps;
  }

  .reviewMobile {
    display: block;
  }

  .review2 {
    display: none;
  }

  .buttonExpand {
    display: none;
  }

  .downloadButton {
    width: 212px;
    height: 41px;
    flex-shrink: 0;
    border: 0.7px solid #d9d9d9;
    margin: 67px 215px 28px 210px;
  }

  .textDownload {
    color: #fff;
    font-family: Mikro, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-variant: small-caps;
  }*/
}

@include s {
  /*.Section7 {
    width: 100%;
    height: 945px;
    flex-shrink: 0;
  }

  .rectangle {
    border: 0.5px solid #d9d9d9;
    width: 388px;
    height: 208px;
    flex-shrink: 0;
    margin-top: 11px;
    margin-left: 22px;
  }

  .rectangle2 {
    margin-top: 46px;
    margin-left: 44px;
    position: relative;
  }

  .previewImage {
    display: none;
  }

  .previewImage2 {
    display: block;
    width: 308px;
    height: 133px;
    flex-shrink: 0;
  }

  .playButton {
    display: none;
  }

  .playButton2 {
    display: block;
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    position: absolute;
    top: 0%;
    margin-top: 41px;
    margin-left: 131px;
  }

  .interviewText {
    color: #dedede;
    font-family: Mikro, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
    margin-top: 30px;
    margin-left: 64px;
    position: absolute;
  }

  .textReviews {
    color: #dedede;
    font-family: Mikro, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
    margin-top: 44px;
    margin-left: 22px;
    margin-bottom: 12px;
  }

  .arrow {
    display: none;
  }

  .arrow2 {
    display: block;
    width: 17px;
    height: 17px;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: #dedede;
    margin-top: 272px;
    margin-left: 393px;
    margin-right: 20px;
    position: absolute;
  }

  .lines {
    height: 0.5px;
  }

  .reviews {
    display: flex;
    flex-direction: column;
    margin: 27px 20px 19px 22px;
    width: 388px;
    height: 131px;
    flex-shrink: 0;
  }

  .recallTime {
    color: #dedede;
    font-family: Montserrat, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-variant: small-caps;
  }

  .review, .reviewMobile {
    color: #dedede;
    font-family: Montserrat, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-variant: small-caps;
  }

  .reviewMobile {
    display: block;
  }

  .review2 {
    display: none;
  }

  .buttonExpand {
    display: none;
  }

  .downloadButton {
    width: 212px;
    height: 41px;
    flex-shrink: 0;
    border: 0.5px solid #d9d9d9;
    margin: 28px 109px 28px 110px;
  }

  .textDownload {
    color: #fff;
    font-family: Mikro, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-variant: small-caps;
  }*/

  .review2{
    font-size: 16px;
  }

  .textReviews{
    font-size: 38px;
  }
}
