@import "../../../utils";

.contacts {
  position: relative;
  z-index: 8;
  height: auto;
  background: #DEDEDE;
}

.containerMain {
  background: #DEDEDE;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  max-width: max(1728px);
}

.boxSecond {
  border-left: 2px solid black;
  border-right: 2px solid black;
  display: flex;
  flex-direction: row;
  column-gap: 1.74vw;
}

.First {
  margin-top: 3.45vw;
  margin-left: 5.82vw;
}

.Second {
  margin-top: 3.4vw;
}

.Third {
  margin-top: 3.46vw;
  margin-right: 5.34vw;
}

.logo {
  margin: 2.67vw 4.127vw 2.67vw 3.88vw;
}

.font {
  width: 12.62vw;
  height: 5.82vw;
  flex-shrink: 0;
  background: url("../../../assets/img/hbh-logo.svg") no-repeat;
  background-size: 12.62vw 5.82vw;
}


.fontinsta {
  width: 4.28vw;
  height: 4.28vw;
  flex-shrink: 0;
  background: url("../../../assets/img/contacts/insta-desktop.svg");
  background-size: 4.28vw 4.28vw;
}


.fontyoutube {
  width: 5.67vw;
  height: 4.28vw;
  flex-shrink: 0;
  background: url("../../../assets/img/contacts/youtube-dekstop.svg");
  background-size: 5.67vw 4.28vw;
}


.fontteleg {
  width: 5vw;
  height: 4.36vw;
  flex-shrink: 0;
  background: url("../../../assets/img/contacts/telega-desktop.svg");
  background-size: 5vw 4.36vw;
}

.phone {
  margin-top: 3.59vw;
}

.number {
  margin-left: 16.57vw;
  width: 28.5vw;
  color: #000;
  font-family: Mikro, serif;
  font-size: 3.47vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.address {
  margin-left: 3.65vw;
  color: #000;
  font-family: Mikro, serif;
  font-size: 1.7vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  display: flex;
  width: 42.7vw;
  height: 1.95vw;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin-bottom: 1.68vw;
}

.website {
  position: relative;
  z-index: 8;
  width: 100%;
  background: #DEDEDE;
  padding-top: 38px;
  padding-left: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  font-family: Mikro, serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

@include xxl {
  .containerMain {
    margin: auto auto;
    border-left: 2px solid black;
    border-right: 2px solid black;
  }
  .First {
    margin-left: 100.66px;
  }
  .Third {
    margin-right: 92.28px;
  }
  .logo {
    margin: 46.14px 71.3px 46.14px 67.11px;
  }
  .number {
    margin-left: 286.42px;
    width: 492px;
    font-size: 60px;
  }
  .address {
    margin-left: 63px;
    font-size: 29.359px;
    width: 738.175px;
    height: 33.553px;
    margin-bottom: 29px;
  }
  .phone {
    margin-top: 62px;
  }
  .First {
    margin-top: 59.71px;
    margin-left: 100.66px;
  }

  .Second {
    margin-top: 58.71px;
  }

  .Third {
    margin-top: 59.76px;
    margin-right: 92.28px;
  }
  .logo {
    margin: 46.14px 71.3px 46.14px 67.11px;
  }
  .font {
    width: 218.097px;
    height: 100.66px;
    background-size: 218.097px 100.66px;
  }
  .fontinsta {
    width: 74px;
    height: 74px;
    background-size: 74px 74px;
  }
  .fontyoutube {
    width: 98px;
    height: 74px;
    background-size: 98px 74px;
  }
  .fontteleg {
    width: 87.625px;
    height: 75.473px;
    background-size: 87.625px 75.473px;
  }
  .boxSecond {
    column-gap: 30px;
  }
}

@include sm{
  .contacts {
    background: #DEDEDE;
    padding-top: 10.18px;
  }

  .containerMain {
    border-bottom: 0.5px solid black;
    border-top: 0.5px solid black;
    border-left: 0.5px solid black;
    border-right: 0.5px solid black;

    margin-left: 3.41vw;
    margin-right: 2.95vw;
  }

  .boxSecond {
    border-left: 0.5px solid black;
    border-right: 0.5px solid black;
    column-gap: 0.9375vw;
  }

  .First {
    margin-top: 3.18vw;
    margin-left: 5.45vw;
  }

  .Second {
    margin-top: 3.18vw;
  }

  .Third {
    margin-top: 3.18vw;
    margin-right: 5vw;
  }

  .logo {
    margin: 2.5vw 3.86vw 2.5vw 3.6vw;
  }

  .font {
    width: 11.8vw;
    height: 5.45vw;
    background-size: 11.8vw 5.45vw;
  }


  .fontinsta {
    width: 4.68vw;
    height: 4.08vw;
    background-size: 4.68vw 4.08vw;
  }


  .fontyoutube {
    width: 6.25vw;
    height: 4.1vw;
    background-size: 6.25vw 4.1vw;
  }


  .fontteleg {
    width: 5.47vw;
    height: 4.08vw;
    background-size: 5.47vw 4.08vw;
  }

  .phone {
    margin-top: 0.625vw;
  }

  .number {
    margin-left: 2.84vw;
    width: 40.45vw;
    font-size: 5vw;
  }

  .address {
    margin-left: 3.4vw;
    margin-bottom: 1.6vw;
    width: 40vw;
    height: 1.8vw;
    font-size: 1.6vw;
  }

  .website {
    margin-left: 5.9vw;
    margin-top: 3.6vw;
    margin-bottom: 17.4vw;
    width: 23.6vw;
    height: 3.1vw;
    font-size: 2.95vw;
  }
}