@import "../../../utils";

.containerMain {
  width: 100%;
  padding-left: 9.20vw;
  padding-right: 3.70vw;
}

.containerDesktop {
  width: 100%;
}

.containerMobile {
  display: none;
}

.boxOne {
  width: 100%;
}

.mainText {
  margin-left: 21.875vw;
  width: 41.37vw;
  height: 7.23vw;
  flex-shrink: 0;
  color: #000;
  font-family: Mikro, serif;
  font-size: 6.37vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: lowercase;
}

.boxSecond {
  margin-top: 5.21vw;
}

.partOne {
  display: flex;
  flex-direction: row;
}

.One {
  width: 14.93vw;
  height: 6.94vw;
  flex-shrink: 0;
  margin-left: 1.39vw;
}

.OneD {
  margin-top: 0.93vw;
  width: 15.04vw;
  margin-left: 1.74vw;
}

.Two {
  width: 14.87vw;
  height: 6.94vw;
  flex-shrink: 0;
  margin-left: 10.3vw;
}

.TwoD {
  margin-top: 0.93vw;
  margin-left: 10.42vw;
  width: 26.85vw;
  height: 6.71vw;
  flex-shrink: 0;
}

.content {
  margin-left: 10.42vw;
}

.Three {
  width: 14.87vw;
  height: 5.21vw;
  flex-shrink: 0;
}

.ThreeD {
  margin-top: 2.55vw;
  width: 15.34vw;
  height: 4.92vw;
  flex-shrink: 0;
}

.Four {
  width: 14.87vw;
  margin-left: 22.63vw;
}

.FourD {
  width: 21.53vw;
  height: 11.17vw;
  flex-shrink: 0;
  margin-left: 19.04vw;
}

.Five {
  width: 14.81vw;
}

.FiveD {
  width: 18.75vw;
  height: 10.88vw;
  flex-shrink: 0;
}

.partTwo {
  width: 86.38vw;
  background: url("../../../assets/img/lines-4.svg") no-repeat;
  background-size: 86.39vw;
}

.partThree {
  display: flex;
  margin-left: 12.15vw;
  margin-bottom: 3.36vw;
}

.tableOne {
  display: flex;
}

.tableTwo {
  display: flex;
  margin-top: 5.21vw;
  margin-left: 11.69vw;
}

.itemMain {
  color: #000;
  font-family: Mikro, serif;
  font-size: 6.37vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: lowercase;
}

.itemDescription {
  color: #000;
  font-family: Mikro, serif;
  font-size: 1.85vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
}

.itemOne {

}

@include xxl {
  .containerMain {
    margin: 0 auto;
  }
}

@include xl {

}

@include l {

}

@include lg {

}



@include md {

  .containerDesktop{
    display: none;
  }

  .containerMobile{
    display: flex;
  }

  .container {
    height: 151.4vw;
    position: relative;
    width: 100%;
  }

  .nonDisplayLine {
    display: none;
  }

  @keyframes stretchPointToLine {
    0% {
      transform: scaleX(0); /* Start as a point */
      visibility: hidden;
    }
    100% {
      transform: scaleX(1); /* Stretch to a full line */
      visibility: visible;
    }
  }

  .line1 {
    position: absolute;
    top: 10.596vw;
    left: 17.67vw;

    width: 54.65vw; /* Define the final width of the line */
    height: 1px; /* Define the height/thickness of the line */
    background-color: black; /* The color of the line */
    transform-origin: left center; /* Start stretching from the left */
    animation: stretchPointToLine 1.567s forwards; /* Apply the animation */
    animation-timing-function: linear;
    visibility: hidden;
    animation-delay: 2s;
  }

  .line2 {
    position: absolute;
    top: 10.45vw;
    left: 72.38vw;

    rotate: 90deg;

    width: 27.67vw; /* Define the final width of the line */
    height: 1px; /* Define the height/thickness of the line */
    background-color: black; /* The color of the line */
    transform-origin: center left; /* Start stretching from the left */
    animation: stretchPointToLine 0.793s forwards; /* Apply the animation */
    animation-timing-function: linear;
    visibility: hidden;
    animation-delay: 3.567s;
  }

  .line3 {
    position: absolute;
    top: 38.05vw;
    left: 35.35vw;

    width: 36.97vw; /* Define the final width of the line */
    height: 1px; /* Define the height/thickness of the line */
    background-color: black; /* The color of the line */
    transform-origin: center right; /* Start stretching from the left */
    animation: stretchPointToLine 1.06s forwards; /* Apply the animation */
    animation-timing-function: linear;
    visibility: hidden;
    animation-delay: 4.360s;
  }

  .line4 {
    position: absolute;
    top: 38.05vw;
    left: 13.0232vw;

    width: 3.721vw; /* Define the final width of the line */
    height: 1px; /* Define the height/thickness of the line */
    background-color: black; /* The color of the line */
    transform-origin: center right; /* Start stretching from the left */
    animation: stretchPointToLine 2s forwards; /* Apply the animation */
    animation-timing-function: linear;
    visibility: hidden;
    animation-delay: 6.42s;
  }

  .line5 {
    position: absolute;
    top: 38.05vw;
    left: 13.0232vw;

    rotate: 90deg;

    width: 32.7907vw; /* Define the final width of the line */
    height: 1px; /* Define the height/thickness of the line */
    background-color: black; /* The color of the line */
    transform-origin: center left; /* Start stretching from the left */
    animation: stretchPointToLine 2s forwards; /* Apply the animation */
    animation-timing-function: linear;
    visibility: hidden;
    animation-delay: 10s;
  }

  .line6 {
    position: absolute;
    top: 70.6976vw;
    left: 13.0232vw;

    width: 23.9534vw; /* Define the final width of the line */
    height: 1px; /* Define the height/thickness of the line */
    background-color: black; /* The color of the line */
    transform-origin: left center; /* Start stretching from the left */
    animation: stretchPointToLine 2s forwards; /* Apply the animation */
    animation-timing-function: linear;
    visibility: hidden;
    animation-delay: 12s;
  }

  .line7 {
    position: absolute;
    top: 70.6976vw;
    left: 55.5814vw;

    width: 39.7674vw; /* Define the final width of the line */
    height: 1px; /* Define the height/thickness of the line */
    background-color: black; /* The color of the line */
    transform-origin: left center; /* Start stretching from the left */
    animation: stretchPointToLine 2s forwards; /* Apply the animation */
    animation-timing-function: linear;
    visibility: hidden;
    animation-delay: 16s;
  }

  .line8 {
    position: absolute;
    top: 70.6976vw;
    left: 95.407vw;

    rotate: 90deg;

    width: 29.4186vw; /* Define the final width of the line */
    height: 1px; /* Define the height/thickness of the line */
    background-color: black; /* The color of the line */
    transform-origin: center left; /* Start stretching from the left */
    animation: stretchPointToLine 2s forwards; /* Apply the animation */
    animation-timing-function: linear;
    visibility: hidden;
    animation-delay: 18s;
  }

  .line9 {
    position: absolute;
    top: 100vw;
    left: 50vw;

    width: 45.3488vw; /* Define the final width of the line */
    height: 1px; /* Define the height/thickness of the line */
    background-color: black; /* The color of the line */
    transform-origin: center right; /* Start stretching from the left */
    animation: stretchPointToLine 2s forwards; /* Apply the animation */
    animation-timing-function: linear;
    visibility: hidden;
    animation-delay: 20s;
  }

  .line10 {
    position: absolute;
    top: 100vw;
    left: 5.1163vw;

    width: 26.0465vw; /* Define the final width of the line */
    height: 1px; /* Define the height/thickness of the line */
    background-color: black; /* The color of the line */
    transform-origin: center right; /* Start stretching from the left */
    animation: stretchPointToLine 2s forwards; /* Apply the animation */
    animation-timing-function: linear;
    visibility: hidden;
    animation-delay: 24s;
  }

  .line11 {
    position: absolute;
    top: 100vw;
    left: 5.1163vw;

    rotate: 90deg;

    width: 30vw; /* Define the final width of the line */
    height: 1px; /* Define the height/thickness of the line */
    background-color: black; /* The color of the line */
    transform-origin: center left; /* Start stretching from the left */
    animation: stretchPointToLine 2s forwards; /* Apply the animation */
    animation-timing-function: linear;
    visibility: hidden;
    animation-delay: 26s;
  }

  .line12 {
    position: absolute;
    top: 130vw;
    left: 5.1163vw;

    width: 5.1163vw; /* Define the final width of the line */
    height: 1px; /* Define the height/thickness of the line */
    background-color: black; /* The color of the line */
    transform-origin: center left; /* Start stretching from the left */
    animation: stretchPointToLine 2s forwards; /* Apply the animation */
    animation-timing-function: linear;
    visibility: hidden;
    animation-delay: 28s;
  }

  @keyframes revealTextFromBottom {
    0% {
      opacity: 0;
      visibility: hidden;
    }
    100% {
      opacity: 100%;
      visibility: visible;
    }
  }

  .OneMob {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 3.7vw;
    top: 3.7209vw;

    animation: revealTextFromBottom 2s forwards;
    animation-timing-function: linear;
    visibility: hidden;
  }
  .TwoMob {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 18.6vw;
    top: 31.6279vw;

    animation: revealTextFromBottom 2s forwards;
    animation-timing-function: linear;
    visibility: hidden;
    animation-delay: 5.42s;
  }
  .ThreeMob {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 39.07vw;
    top: 63.9535vw;
  }
  .FourMob {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 33.25vw;
    top: 93.9534vw;
  }
  .FiveMob {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 12.32vw;
    top: 123.4883vw;
  }
  .main {
    color: #000;
    font-family: Mikro, serif;
    font-size: 11.16vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: lowercase;
  }

  .des {
    color: #000;
    font-family: Mikro, serif;
    font-size: 3.25vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
  }

  .two {
    width: 58.37vw;
  }

  .three {
    width: 53.5vw;
  }

  .four {
    width: 29.1vw;
  }

  .five {
    width: 49.1vw;
  }
}
@include sm {

}
@include s {

}