@import "../../../utils";

.containerMain {
  width: 100%;
  padding-left: 9.20vw;
  padding-right: 3.70vw;
}

.containerDesktop {
  width: 100%;
}

.containerMobile {
  display: none;
}

.boxOne {
  width: 100%;
}

.mainText {
  margin-left: 21.875vw;
  width: 41.37vw;
  height: 7.23vw;
  flex-shrink: 0;
  color: #000;
  font-family: Mikro, serif;
  font-size: 6.37vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: lowercase;
}

.boxSecond {
  margin-top: 5.21vw;
}

.partOne {
  display: flex;
  flex-direction: row;
}

.One {
  width: 14.93vw;
  height: 6.94vw;
  flex-shrink: 0;
  margin-left: 1.39vw;
}

.OneD {
  margin-top: 0.93vw;
  width: 15.04vw;
  margin-left: 1.74vw;
}

.Two {
  width: 14.87vw;
  height: 6.94vw;
  flex-shrink: 0;
  margin-left: 10.3vw;
}

.TwoD {
  margin-top: 0.93vw;
  margin-left: 10.42vw;
  width: 26.85vw;
  height: 6.71vw;
  flex-shrink: 0;
}

.content {
  margin-left: 10.42vw;
}

.Three {
  width: 14.87vw;
  height: 5.21vw;
  flex-shrink: 0;
}

.ThreeD {
  margin-top: 2.55vw;
  width: 15.34vw;
  height: 4.92vw;
  flex-shrink: 0;
}

.Four {
  width: 14.87vw;
  margin-left: 22.63vw;
}

.FourD {
  width: 21.53vw;
  height: 11.17vw;
  flex-shrink: 0;
  margin-left: 19.04vw;
}

.Five {
  width: 14.81vw;
}

.FiveD {
  width: 18.75vw;
  height: 10.88vw;
  flex-shrink: 0;
}

.partTwo {
  width: 86.38vw;
  background: url("../../../assets/img/lines-4.svg") no-repeat;
  background-size: 86.39vw;
}

.partThree {
  display: flex;
  margin-left: 12.15vw;
  margin-bottom: 3.36vw;
}

.tableOne {
  display: flex;
}

.tableTwo {
  display: flex;
  margin-top: 5.21vw;
  margin-left: 11.69vw;
}

.itemMain {
  color: #000;
  font-family: Mikro, serif;
  font-size: 6.37vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: lowercase;
}

.itemDescription {
  color: #000;
  font-family: Mikro, serif;
  font-size: 1.85vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
}

.itemOne {

}

@include xxl {
  .containerMain {
    margin: 0 auto;
  }
}

@include xl {

}

@include l {

}

@include lg {

}



@include md {
  .snake {
    margin-left: 5.1vw;
    margin-right: 4.6vw;
  }

  .snake_svg {
    width: 90.1vw;
    height: 119.6vw;
  }

  .containerMain {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .containerDesktop {
    display: none;
  }

  .containerMobile {
    display: flex;
    flex-direction: column;
    margin-top: 6.73vw;
    margin-bottom: 21.4vw;
    position: relative;
  }

  .mainTextMob {
    margin-bottom: 12.2vw;
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 0;
    color: #000;
    font-family: Mikro, serif;
    font-size: 9.3vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: lowercase;
  }

  .module {

  }

  .OneMob {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 3.7vw;
    top: 16.98vw;
  }
  .TwoMob {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 18.6vw;
    top: 44.88vw;
  }
  .ThreeMob {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 39.07vw;
    top: 77.21vw;
  }
  .FourMob {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 33.25vw;
    top: 107.2vw;
  }
  .FiveMob {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 12.32vw;
    top: 136.7vw;
  }

  .main {
    color: #000;
    font-family: Mikro, serif;
    font-size: 11.16vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: lowercase;
  }

  .des {
    color: #000;
    font-family: Mikro, serif;
    font-size: 3.25vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
  }

  .second {
    width: 58.37vw;
  }

  .third {
    width: 53.5vw;
  }

  .fourth {
    width: 29.1vw;
  }

  .five {
    width: 49.1vw;
  }

}
@include sm {

}
@include s {

}