@import "../../../utils";


.containerMain {
  width: 100%;
  padding-left: 9.20vw;
  padding-right: 3.70vw;
}

.containerDesktop {
  width: 100%;
}

.containerMobile {
  display: none;
}

.boxOne {
  width: 100%;
}

.mainText {
  margin-left: 21.875vw;
  width: 41.37vw;
  height: 7.23vw;
  flex-shrink: 0;
  color: #000;
  font-family: Mikro, serif;
  font-size: 6.37vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: lowercase;
}

.boxSecond {
  margin-top: 5.21vw;
}

.partOne {
  display: flex;
  flex-direction: row;
}

.One {
  width: 14.93vw;
  height: 6.94vw;
  flex-shrink: 0;
  margin-left: 1.39vw;
}

.OneD {
  margin-top: 0.93vw;
  width: 15.04vw;
  margin-left: 1.74vw;
}

.Two {
  width: 14.87vw;
  height: 6.94vw;
  flex-shrink: 0;
  margin-left: 10.3vw;
}

.TwoD {
  margin-top: 0.93vw;
  margin-left: 10.42vw;
  width: 26.85vw;
  height: 6.71vw;
  flex-shrink: 0;
}

.content {
  margin-left: 10.42vw;
}

.Three {
  width: 14.87vw;
  height: 5.21vw;
  flex-shrink: 0;
}

.ThreeD {
  margin-top: 2.55vw;
  width: 15.34vw;
  height: 4.92vw;
  flex-shrink: 0;
}

.Four {
  width: 14.87vw;
  margin-left: 22.63vw;
}

.FourD {
  width: 21.53vw;
  height: 11.17vw;
  flex-shrink: 0;
  margin-left: 19.04vw;
}

.Five {
  width: 14.81vw;
}

.FiveD {
  width: 18.75vw;
  height: 10.88vw;
  flex-shrink: 0;
}

.partTwo {
  width: 87.38vw;
  background: url("../../../assets/img/lines-4.svg") no-repeat;
  background-size: 87.39vw;
}

.partThree {
  display: flex;
  margin-left: 12.15vw;
  margin-bottom: 3.36vw;
}

.tableOne {
  display: flex;
}

.tableTwo {
  display: flex;
  margin-top: 5.21vw;
  margin-left: 11.69vw;
}

.itemMain {
  color: #000;
  font-family: Mikro, serif;
  font-size: 6.37vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: lowercase;
}

.itemDescription {
  color: #000;
  font-family: Mikro, serif;
  font-size: 1.85vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
}

.itemOne {

}

@include xxl {
  .containerMain {
    margin: 0 auto;
  }
}

@include xl {

}

@include l {

}

@include lg {

}

@include md {

}

@include sm {

}

@include s {
  .containerMain {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .containerDesktop {
    display: none;
  }

  .containerMobile {
    display: flex;
    flex-direction: column;
    margin-top: 87px;
  }

  .mainTextMob {
    margin-bottom: 16px;
    margin-left: 90px;
    width: 268px;
    height: 57px;
    flex-shrink: 0;
    color: #000;
    font-family: Mikro, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: lowercase;
  }

  .module {
    margin-left: 16px;
  }

  .linesOne {
    display: flex;
  }

  .main {
    color: #000;
    font-family: Mikro, serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: lowercase;
  }

  .des {
    color: #000;
    font-family: Mikro, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
  }

  .partMobOne {

  }

  .markOne {
    display: flex;
  }

  .lineOne {
    margin-top: 30px;
    margin-left: 5px;
  }

  .lineTwo {
    margin-top: 30px;
  }

  .lineThree {

  }

  .linesTwo {
    display: flex;
    column-gap: 0;
    margin-left: 43px;

  }

  .first {
    margin-left: 2px;
  }

  .two {
    margin-top: 26px;
    margin-right: 5px;
    margin-left: 5px;
  }

  .lineFour {
    margin-top: 60px;
  }

  .linesThree {
    display: flex;
    margin-left: 43px;
  }

  .second {
    width: 251px;
    height: 50px;
    flex-shrink: 0;
    margin-left: 24px;
  }

  .linesFour {
    display: flex;
    margin-left: 43px;
  }

  .three {
    margin-left: 5px;
    margin-right: 5px;
  }

  .lineSeven {
    margin-top: 30px;
  }

  .linesFive {
    display: flex;
    margin-left: 149px;
  }

  .third {
    width: 240px;
    height: 30px;
    flex-shrink: 0;
  }

  .linesSix {
    display: flex;
    margin-left: 7px;
  }

  .four {
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .lineNine {
    margin-top: 50px;
  }

  .lineEleven {
    margin-top: 52px;
  }

  .lineTwelve {
    margin-left: 7px;
  }

  .linesSeven {
    display: flex;
  }

  .fourth {
    margin-left: 121px;
    width: 125px;
    height: 41px;
    flex-shrink: 0;
  }

  .four {
    margin-right: 6px;
  }

  .linesEight {
    margin-left: 7px;
    display: flex;
    margin-bottom: 29px;
  }

  .fifth {
    margin-left: 9px;
  }

  .five {
    width: 211px;
    height: 38px;
    flex-shrink: 0;
    margin-left: 11px;
  }
}