@import "../../../utils";

.description{
  margin-left: 103px;
  width: 1509px;
  color: #000;
  font-family: Montserrat, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.first{
  display: flex;
  padding-right: 104px;
}

.mainText{
  margin-left: 103px;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 1178px;
  height: 60px;
  flex-shrink: 0;
  color: #000;
  font-family: Montserrat, serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  white-space: nowrap;
}

.plus{
  width: 37.494px;
  height: 37.494px;
  flex-shrink: 0;
  background: url("../../../assets/img/accordion/plusDesktop.svg");
}

.button{
  /*padding-right: 138px;*/
  margin-top: 43px;
  width: 37.494px;
  height: 37.494px;
  flex-shrink: 0;
  margin-left: auto;
  transition: transform 0.6s ease;
}

.buttonActive{
  /*padding-right: 138px;*/
  margin-top: 43px;
  width: 37.494px;
  height: 37.494px;
  flex-shrink: 0;
  margin-left: auto;
  transform: rotate(45deg);
}

.myTransition {
  transition: height 700ms cubic-bezier(0.65, 0, 0.35, 1);
}

.containerMain{
  position: relative;
  z-index: 8;
  width: 100%;
  background: #DEDEDE;
}

.boxOne{
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: 100%;
}

.boxTwo{
  padding-bottom: 20px;
  border-bottom: 2px solid black;
  width: 100%;
}

.boxThree{
  padding-bottom: 20px;
  border-bottom: 2px solid black;
  width: 100%;
}

.boxFour{
  padding-bottom: 20px;
  border-bottom: 2px solid black;
  width: 100%;
}

.boxFive{
  padding-bottom: 20px;
  border-bottom: 2px solid black;
  width: 100%;
}

.boxSix{
  padding-bottom: 20px;
  border-bottom: 2px solid black;
  width: 100%;
}

@include xl{
  .mainText{
    width: auto;
    font-size: 46px;
  }

  .description{
    width: 900px;
    font-size: 27px;
  }
}

@include l{
  .mainText{
    width: auto;
    font-size: 34px;
    margin-left: 103px;
    margin-top: 25px;
    margin-bottom: 0;
  }

  .button{
    margin-top: 23px;
  }

  .description{
    width: 860px;
    font-size: 24px;
  }
}

@include lg{
  .mainText{
    width: auto;
    font-size: 24px;
    margin-left: 83px;
    margin-top: 25px;
    margin-bottom: 0;
    height: 40px;
  }

  .description{
    font-size: 18px;
    width: 600px;
    margin-left: 84px;
  }

  .button{
    margin-top: 23px;
    width: 24px;
    height: 24px;
  }

  .first{
    padding-right: 95px;
  }

  .boxOne{
    padding-bottom: 5px;
  }

  .boxTwo{
    padding-bottom: 5px;
  }

  .boxThree{
    padding-bottom: 5px;
  }

  .boxFour{
    padding-bottom: 5px;
  }

  .boxFive{
    padding-bottom: 5px;
  }

  .boxSix{
    padding-bottom: 5px;
    border-bottom: 0;
  }

  .plus{
    width: 24.727px;
    height: 24.727px;
    flex-shrink: 0;
    background: url("../../../assets/img/accordion/plusSM.svg") no-repeat center;
    background-size: cover;
  }
}

@include md{
  .description{
    margin-left: 39.27px;
    width: 507px;
    color: #000;
    font-family: Montserrat, serif;
    font-size: 14.545px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .first{
    display: flex;
    padding-right: 85px;
  }

  .mainText{
    margin-left: 86.27px;
    margin-top: 21.82px;
    margin-bottom: 19.09px;
    width: auto;
    height: 24.727px;
    flex-shrink: 0;
    color: #000;
    font-family: Montserrat, serif;
    font-size: 20.364px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .button{
    margin-top: 21.82px;
    width: 24.727px;
    height: 24.727px;
    flex-shrink: 0;
    margin-left: auto;
    transition: transform 0.6s ease;
  }

  .buttonActive{
    margin-top: 21.82px;
    width: 24.727px;
    height: 24.727px;
    flex-shrink: 0;
    margin-left: auto;
    transform: rotate(45deg);
  }

  .plus{
    width: 24.727px;
    height: 24.727px;
    flex-shrink: 0;
    background: url("../../../assets/img/accordion/plusSM.svg");
  }

  .description{
    margin-left: 86.27px;
  }

  .myTransition {
    transition: height 700ms cubic-bezier(0.65, 0, 0.35, 1);
  }

  .containerMain{
    width: 100%;
  }

  .boxOne{
    display: flex;
    flex-direction: column;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
    padding-bottom: 10px;
  }

  .boxTwo{
    border-bottom: 0.5px solid black;
    padding-bottom: 10px;
  }

  .boxThree{
    border-bottom: 0.5px solid black;
    padding-bottom: 10px;
  }

  .boxFour{
    border-bottom: 0.5px solid black;
    padding-bottom: 10px;
  }

  .boxFive{
    border-bottom: 0.5px solid black;
    padding-bottom: 10px;
  }

  .boxSix{
    border-bottom: 0;
    padding-bottom: 10px;
  }
}

@include sm{
  .description{
    margin-left: 39.27px;
    width: 507px;
    color: #000;
    font-family: Montserrat, serif;
    font-size: 14.545px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .first{
    display: flex;
    padding-right: 20px;
  }

  .mainText{
    margin-left: 25.27px;
    margin-top: 21.82px;
    margin-bottom: 19.09px;
    width: auto;
    height: 24.727px;
    flex-shrink: 0;
    color: #000;
    font-family: Montserrat, serif;
    font-size: 15.364px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .button{
    margin-top: 21.82px;
    width: 24.727px;
    height: 24.727px;
    flex-shrink: 0;
    margin-left: auto;
    transition: transform 0.6s ease;
  }

  .buttonActive{
    margin-top: 21.82px;
    width: 24.727px;
    height: 24.727px;
    flex-shrink: 0;
    margin-left: auto;
    transform: rotate(45deg);
  }

  .plus{
    width: 24.727px;
    height: 24.727px;
    flex-shrink: 0;
    background: url("../../../assets/img/accordion/plusSM.svg");
  }

  .myTransition {
    transition: height 700ms cubic-bezier(0.65, 0, 0.35, 1);
  }

  .containerMain{
    width: 100%;
  }

  .description{
    margin-left: 27.27px;
    width: auto;
    color: #000;
    font-family: Montserrat, serif;
    font-size: 13.545px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .boxOne{
    display: flex;
    flex-direction: column;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
    padding-bottom: 10px;
  }

  .boxTwo{
    border-bottom: 0.5px solid black;
    padding-bottom: 10px;
  }

  .boxThree{
    border-bottom: 0.5px solid black;
    padding-bottom: 10px;
  }

  .boxFour{
    border-bottom: 0.5px solid black;
    padding-bottom: 10px;
  }

  .boxFive{
    border-bottom: 0.5px solid black;
    padding-bottom: 10px;
  }

  .boxSix{
    border-bottom: 0.5px solid black;
    padding-bottom: 10px;
  }
}

@include s{
  .description{
    margin-left: 6.51vw;
    width: 81.16vw;
    flex-shrink: 0;
    color: #000;
    font-family: Montserrat, serif;
    font-size: 2.33vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .first{
    display: flex;
  }

  .mainText{
    margin-left: 6.51vw;
    margin-top: 4.65vw;
    margin-bottom: 2.33vw;
    width: 69.77vw;
    height: 2.66vw;
    flex-shrink: 0;
    color: #000;
    font-family: Montserrat, serif;
    font-size: 3.26vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .button{
    margin-top: 3.49vw;
    width: 17px;
    height: 17px;
    flex-shrink: 0;
    margin-left: 10.47vw;
    transition: transform 0.6s ease;
  }

  .buttonActive{
    margin-top: 3.49vw;
    width: 17px;
    height: 17px;
    flex-shrink: 0;
    margin-left: 10.17vw;
    transform: rotate(45deg);
  }

  .plus{
    width: 17px;
    height: 17px;
    flex-shrink: 0;
    background: url("../../../assets/img/accordion/plusMobile.svg");
  }

  .myTransition {
    transition: height 700ms cubic-bezier(0.65, 0, 0.35, 1);
  }

  .containerMain{
    width: 100%;
  }

  .boxOne{
    display: flex;
    flex-direction: column;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
    padding-bottom: 2.33vw;
  }

  .boxTwo{
    border-bottom: 0.5px solid black;
    padding-bottom: 2.33vw;
  }

  .boxThree{
    border-bottom: 0.5px solid black;
    padding-bottom: 2.33vw;
  }

  .boxFour{
    border-bottom: 0.5px solid black;
    padding-bottom: 2.33vw;
  }

  .boxFive{
    border-bottom: 0.5px solid black;
    padding-bottom: 2.33vw;
  }

  .boxSix{
    border-bottom: 0.5px solid black;
    padding-bottom: 2.33vw;
  }
}