@import "../../../utils";


.containerMain {
  width: 100%;
  padding-bottom: 14.47vw;
  max-width: max(1728px);
}

.textMain {
  margin-top: 8.68vw;
  margin-left: 6.25vw;
  width: 44.33vw;
  height: 7.12vw;
  flex-shrink: 0;
  color: #000;
  font-family: Mikro, serif;
  font-size: 6.37vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.itemMain {
  width: 26.74vw;
  color: #000;
  font-family: Mikro, serif;
  font-size: 2.78vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: lowercase;
}

.OneHalf {
  margin-top: 3.82vw;
  margin-left: 6.134vw;
}

.OneHalfTwo {
  width: 26.74vw;
  flex-shrink: 0;
  margin-left: 6.134vw;
}

.OneHalfThree {
  width: 26.74vw;
  flex-shrink: 0;
  margin-left: 6.134vw;
}

.part {
  width: 100vw;
  height: 31.134vw;
  background: url("../../../assets/img/lines-10.svg") no-repeat;
  background-size: 100vw;
}


.tableOne {
  display: flex;
}

.Two {
  margin-top: 1.56vw;
  margin-left: 11.4vw;
}

.tableTwo {
  margin-top: 10.82vw;
  display: flex;
  margin-left: 28.76vw;
}

.Four {
  margin-left: 10.76vw;
  margin-top: 2.89vw;
}

@include xxl {
  .containerMain{
    margin: 0 auto;
  }
}

@include xl {

}

@include l {

}

@include lg {
 .containerMain{
   display: none;
 }
}

@include md {
 .containerMain{
   display: none;
 }
}

@include sm {
  .containerMain{
    display: none;
  }
}

@include s {
  .containerMain {
    display: none;
  }
}