.first-text {
  padding-left: 102px;
  padding-top: 40px;
  padding-bottom: 16px;
  font-size: 40px;
}

.fonts {
  color: #DEDEDE;
  font-family: Mikro;
}

.text {
  margin-left: 57.05px;
  margin-top: 17.86px;
  margin-bottom: 8.93px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
}

.section {
  background-color: #3E3E3E;
  width: 100%;
  height: 1050px;
}

.blocks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 200px;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  align-items: center;
}


.block1 {
  width: 651px;
  max-width: 100%;
  height: 413px;
  border: 0.5px solid #DEDEDE;
}