@import "../../utils";

.contacts {
  margin-top: 88px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  height: auto;
}

.containerMain {
  display: flex;
  flex-direction: row;
  margin-left: 0;
  margin-right: 0;
  max-width: max(1728px);
}

.boxSecond {
  border-left: 2px solid black;
  border-right: 2px solid black;
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}

.First {
  margin-top: 59.71px;
  margin-left: 100.66px;
}

.Second {
  margin-top: 58.71px;
}

.Third {
  margin-top: 59.76px;
  margin-right: 92.28px;
}

.logo {
  margin: 46.14px 71.3px 46.14px 67.11px;
}

.font {
  width: 218.097px;
  height: 100.66px;
  flex-shrink: 0;
  background: url("../../assets/img/hbh-logo.svg") no-repeat;
  background-size: 218.097px 100.66px;
}


.fontinsta {
  width: 74px;
  height: 74px;
  flex-shrink: 0;
  background: url("../../assets/img/contacts/insta-desktop.svg");
  background-size: 74px 74px;
}


.fontyoutube {
  width: 98px;
  height: 74px;
  flex-shrink: 0;
  background: url("../../assets/img/contacts/youtube-dekstop.svg");
}


.fontteleg {
  width: 87.625px;
  height: 75.473px;
  flex-shrink: 0;
  background: url("../../assets/img/contacts/telega-desktop.svg");
}

.phone {
  margin-top: 62px;
}

.number {
  margin-left: 286.42px;
  width: 492px;
  color: #000;
  font-family: Mikro, serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.address {
  margin-left: 63px;
  color: #000;
  font-family: Mikro, serif;
  font-size: 29.359px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  display: flex;
  width: 738.175px;
  height: 33.553px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.website {
  margin-left: 24px;
  margin-top: 38px;
  display: flex;
  width: 385px;
  height: 50px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  font-family: Mikro, serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

@include xxl {
  .containerMain {
    margin: 0 auto;
  }
}

@include sm{
  .containerMain {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    margin-right: 0;
  }

  .contacts {
    margin-top: 10.18px;
    border-bottom: 0.5px solid black;
    border-top: 0.5px solid black;
    border-left: 0.5px solid black;
    border-right: 0.5px solid black;
    height: auto;
    margin-left: 21.82px;
    margin-right: 18.91px;
  }

  .boxSecond {
    border-left: 0.5px solid black;
    border-right: 0.5px solid black;
    display: flex;
    flex-direction: row;
    column-gap: 6px;
  }

  .First {
    margin-top: 20.36px;
    margin-left: 34.91px;
  }

  .Second {
    margin-top: 20.36px;
  }

  .Third {
    margin-top: 20.36px;
    margin-right: 32px;
  }

  .logo {
    margin: 16px 24.73px 16px 23.27px;
  }

  .font {
    width: 75.636px;
    height: 34.909px;
    flex-shrink: 0;
    background: url("../../assets/img/hbh-logo.svg") no-repeat;
    background-size: 75.636px 34.909px;
  }


  .fontinsta {
    width: 30px;
    height: 26.128px;
    flex-shrink: 0;
    background: url("../../assets/img/contacts/insta-desktop.svg");
    background-size: 30px 26.182px;
  }


  .fontyoutube {
    width: 40px;
    height: 26.182px;
    flex-shrink: 0;
    background: url("../../assets/img/contacts/youtube-dekstop.svg");
    background-size: 40px 26.182px;
  }


  .fontteleg {
    width: 35px;
    height: 26.182px;
    flex-shrink: 0;
    background: url("../../assets/img/contacts/telega-desktop.svg");
    background-size: 35px 26.182px;
  }

  .phone {
    margin-top: 4px;
  }

  .number {
    margin-left: 18.19px;
    width: 258.909px;
    color: #000;
    font-family: Mikro, serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }

  .address {
    margin-left: 21.82px;
    margin-bottom: 10.18px;
    display: flex;
    width: 256px;
    height: 11.636px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    font-family: Mikro, serif;
    font-size: 10.182px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }

  .website {
    margin-left: 37.82px;
    margin-top: 23.27px;
    margin-bottom: 111.39px;
    display: flex;
    width: 151.078px;
    height: 19.845px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    font-family: Mikro, serif;
    font-size: 18.909px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }
}

@include s {
  .containerMain {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    margin-right: 0;
  }

  .contacts {
    margin-top: 8px;
    border-bottom: 0.5px solid black;
    border-top: 0.5px solid black;
    border-left: 0.5px solid black;
    border-right: 0.5px solid black;
    height: auto;
    margin-left: 10px;
    margin-right: 8px;
  }

  .boxSecond {
    border-left: 0.5px solid black;
    border-right: 0.5px solid black;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
  }

  .First {
    margin-top: 14px;
    margin-left: 24px;
  }

  .Second {
    margin-top: 14px;
  }

  .Third {
    margin-top: 14px;
    margin-right: 22px;
  }

  .logo {
    margin: 11px 17px 11px 16px;
  }

  .font {
    width: 52px;
    height: 24px;
    flex-shrink: 0;
    background: url("../../assets/img/hbh-logo.svg") no-repeat;
    background-size: 52px 24px;
  }


  .fontinsta {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    background: url("../../assets/img/contacts/insta-desktop.svg");
    background-size: 18px 18px;
  }


  .fontyoutube {
    width: 23px;
    height: 18px;
    flex-shrink: 0;
    background: url("../../assets/img/contacts/youtube-dekstop.svg");
    background-size: 23px 18px;
  }


  .fontteleg {
    width: 21px;
    height: 18px;
    flex-shrink: 0;
    background: url("../../assets/img/contacts/telega-desktop.svg");
    background-size: 21px 18px;
  }

  .phone {
    margin-top: 4px;
  }

  .number {
    margin-left: 13px;
    width: 178px;
    color: #000;
    font-family: Mikro, serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }

  .address {
    margin-left: 15px;
    margin-bottom: 7px;
    display: flex;
    width: 176px;
    height: 8px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    font-family: Mikro, serif;
    font-size: 7px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }

  .website {
    margin-left: 21px;
    margin-top: 16px;
    margin-bottom: 30.36px;
    display: flex;
    width: 103.866px;
    height: 13.643px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    font-family: Mikro, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }
}