@import "../../utils";

@include xxl {
  .containerMain {
    margin: 0 auto;
  }
}

.containerMain {
  display: flex;
  width: 100%;
  max-width: max(1728px);
  padding-left: 103px;
  padding-top: 40px;
  padding-bottom: 23px;
}

.containerSection {
  display: flex;
  overflow: hidden;
}

.containerDesktop {
  display: flex;
  flex-direction: column;
}

.containerMobile {
  display: none;
}

.partFirst {
  display: flex;
  flex-direction: row;
  padding-right: 522px;
}

.boxFirst {
  background: black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.houseTabSelected {
  background: black;
  color: white;
}


.houseTab {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 331px;
  height: 80px;
  left: 103px;
}

.boxSecond {
  border-right: 1px solid black;
}

.boxThird {
  border-right: 1px solid black;
}

.text {
  font-family: Mikro, serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0;
  text-align: center;
}

.partSecond {
  margin-top: 34px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}


.child {
  width: 481px;
  height: 270px;
  flex-shrink: 0;
}

.target {
  margin-right: 7px;
  height: 270px;
  flex-shrink: 0;
  grid-row: span 2;
  grid-column: span 2;
}

.OneThreeFive {
  background-image: url("../../assets/img/section6ImagesDesktop/home-1-3-5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.Second {
  background-image: url("../../assets/img/section6ImagesDesktop/home-second.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.FourSixEight {
  background-image: url("../../assets/img/section6ImagesDesktop/home-4-6-8.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.Seven {
  background-image: url("../../assets/img/section6ImagesDesktop/home-7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.textLow {
  margin-top: 23px;
  margin-left: 16px;
  width: 162px;
  height: 28px;
  flex-shrink: 0;
  color: #FFF;
  font-family: Mikro, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
}

.textLarge {
  margin-left: 16px;
  margin-top: 178px;
  width: 314px;
  height: 28px;
  flex-shrink: 0;
  color: #FFF;
  font-family: Mikro, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: lowercase;
}

@include xl {

}

@include l {

}

@include lg {

}

@include md {

}

@include sm {

}

@include s {
  .containerMain {
    width: 100%;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .containerSection {
    margin: 31px 19px 27px 23px;
  }

  .containerMobile {
    display: flex;
    overflow: hidden;
    flex-direction: column;
  }

  .containerDesktop {
    display: none;
  }

  .mobileOne {
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }

  .houseTabMobile {
    width: 129px;
    height: 59px;
    flex-shrink: 0;
    border: 0.5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .houseTabMobileSelected{
    background: black;
    color: white;
  }

  .textMobile {
    margin-top: 21px;
    margin-bottom: 20px;
    font-family: Mikro, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
  }

  .textLowMobile {
    margin-top: 7px;
    margin-left: 8px;
    color: #FFF;
    font-family: Mikro, serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
  }

  .mobileTwo {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-column-gap: 4px;
    grid-row-gap: 6px;
  }


  .childMobile {
    width: 192px;
    height: 126px;
    flex-shrink: 0;
  }

  .mobOne {
    background: url("../../assets/img/section6ImagesMobile/mobile-home-one.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .mobTwo {
    background: url("../../assets/img/section6ImagesMobile/mobile-home-two.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .mobThree {
    background: url("../../assets/img/section6ImagesMobile/mobile-home-three.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .mobFour {
    background: url("../../assets/img/section6ImagesMobile/mobile-home-four.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .mobFive {
    background: url("../../assets/img/section6ImagesMobile/mobile-home-five.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .mobSix {
    background: url("../../assets/img/section6ImagesMobile/mobile-home-six.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}
