@import "../../utils";

.firstText {
  padding-left: 102px;
  padding-top: 40px;
  padding-bottom: 16px;
  font-size: 40px;
}

.fonts {
  color: #DEDEDE;
  font-family: Mikro;
}

.text {
  margin-left: 57.05px;
  margin-top: 17.86px;
  margin-bottom: 8.93px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
}

.section {
  background-color: #3E3E3E;
  width: 100%;
  height: 1050px;
}

.blocks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 220px;
  grid-row-gap: 38.45px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-left: 104px;
  margin-right: 102px;
  margin-bottom: 62.58px;
}

.block1 {
  width: 100%;
  max-width: 651px;
  height: 413px;
  border: 0.5px solid #DEDEDE;
  position: relative;
}

.home1 {
  
}