@import "../../utils";

.container {
  max-width: max(1728px);
  width: 100%;
  padding: 263px 105px 311px 103px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainText {
  white-space: nowrap;
  flex-shrink: 0;
  color: #000;
  font-family: Mikro, serif;
  font-size: 7em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: lowercase;
  margin-bottom: 94px;
}

.button {
  width: 395px;
  height: 107px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  font-family: Mikro, serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
}

.table {
  border: 0;
  margin-top: 93px;
  padding: 15px 30px;
}

.tableName {
  color: #000;
  font-family: Mikro, serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
}

.tableMark {
  color: #000;
  font-family: Mikro, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
  list-style-type: disc;
}

@include xxl {
  .container {
    margin: 0 auto;
  }
}

@include xl {
  .container {
    max-width: max(1728px);
    width: 100%;
    padding: 253px 0 271px 0;
  }

  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mainText {
    white-space: nowrap;
    flex-shrink: 0;
    color: #000;
    font-family: Mikro, serif;
    font-size: 5.9em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: lowercase;
    margin-bottom: 94px;
  }

  .button {
    width: 375px;
    height: 97px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    font-family: Mikro, serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
  }

  .table {
    border: 0;
    margin-top: 93px;
  }

  .tableName {
    color: #000;
    font-family: Mikro, serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
  }

  .tableMark {
    color: #000;
    font-family: Mikro, serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
    list-style-type: disc;
  }
}

@include l {
  .container {
    max-width: max(1728px);
    width: 100%;
    padding: 213px 85px 221px 83px;
  }

  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mainText {
    white-space: nowrap;
    flex-shrink: 0;
    color: #000;
    font-family: Mikro, serif;
    font-size: 4em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: lowercase;
    margin-bottom: 64px;
  }

  .button {
    width: 355px;
    height: 87px;
    font-size: 46px;
  }

  .table {
    border: 1px solid black;
    margin-top: 73px;
  }

  .tableName {
    color: #000;
    font-family: Mikro, serif;
    font-size: 39px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
  }

  .tableMark {
    color: #000;
    font-family: Mikro, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
    list-style-type: disc;
  }
}

@include lg {
  .container {
    max-width: max(1728px);
    width: 100%;
    padding: 213px 85px 221px 83px;
  }

  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mainText {
    white-space: nowrap;
    flex-shrink: 0;
    color: #000;
    font-family: Mikro, serif;
    font-size: 3.4em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: lowercase;
    margin-bottom: 54px;
  }

  .button {
    width: 300px;
    height: 67px;
    font-size: 46px;
  }

  .table {
    border: 1px solid black;
    margin-top: 53px;
  }

  .tableName {
    color: #000;
    font-family: Mikro, serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
  }

  .tableMark {
    color: #000;
    font-family: Mikro, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
    list-style-type: disc;
  }
}

@include md {
  .container {
    max-width: max(1728px);
    width: 100%;
    padding: 53px 85px 53px 88px;
  }


  .mainText {
    white-space: normal;
    flex-shrink: 0;
    color: #000;
    font-family: Mikro, serif;
    font-size: 3.5em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: lowercase;
    margin-bottom: 54px;
  }

  .button {
    width: 217px;
    height: 82px;
    font-size: 22.115px;
  }

  .table {
    border: 1px solid black;
    margin-top: 53px;
  }

  .tableName {
    color: #000;
    font-family: Mikro, serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
  }

  .tableMark {
    color: #000;
    font-family: Mikro, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
    list-style-type: disc;
  }
}

@include sm {
  .container {
    max-width: max(1728px);
    width: 100%;
    padding: 25px 74px 35px 53px;
  }


  .mainText {
    white-space: normal;
    flex-shrink: 0;
    color: #000;
    font-family: Mikro, serif;
    font-size: 2.5em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: lowercase;
    margin-bottom: 30px;
  }

  .table {
    border: 0.5px solid black;
    margin-top: 35px;
  }

  .tableName {
    color: #000;
    font-family: Mikro, serif;
    font-size: 37px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
  }

  .tableMark {
    color: #000;
    font-family: Mikro, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
    list-style-type: disc;
  }
}

@include s {
  .container {
    max-width: max(1728px);
    width: 100%;
    padding: 211px 12px 50px 60px;
  }


  .mainText {
    white-space: normal;
    flex-shrink: 0;
    color: #000;
    font-family: Mikro, serif;
    font-size: 2.9em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: lowercase;
    margin-bottom: 93px;
  }

  .button {
    width: 157px;
    height: 59px;
  }

  .table {
    border: 0.5px solid black;
    margin-top: 50px;
  }

  .tableName {
    color: #000;
    font-family: Mikro, serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
  }

  .tableMark {
    color: #000;
    font-family: Mikro, serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
    list-style-type: disc;
  }
}
