@import "../../utils";

.section {
  background-color: #3e3e3e;
  width: 100%;
  height: 1050px;
}

.firstText {
  padding-left: 102px;
  padding-top: 40px;
  padding-bottom: 38px;
  font-size: 40px;
}

.fonts {
  color: #dedede;
  font-family: Mikro;
}

.text {
  margin-left: 57.05px;
  margin-top: 17.86px;
  margin-bottom: 8.93px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
}

.blocks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 220px;
  grid-row-gap: 38.45px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-left: 104px;
  margin-right: 102px;
  margin-bottom: 62.58px;
}

.block1 {
  width: 100%;
  max-width: 651px;
  height: 413px;
  border: 0.5px solid #dedede;
  position: relative;
  display: inline-block;
}

.overlayImage {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 30px;
  margin-right: 48px;
}

.textOverlay {
  position: absolute;
  font-size: 96px;
  color: #3e3e3e;
  font-family: Mikro;
  font-style: normal;
  font-weight: 700;
  text-transform: lowercase;
  top: -3%;
  margin-top: 0px;
  margin-left: 66px;
}

.blackRectangle {
  position: absolute;
  top: 0%;
  margin-left: 179px;
  margin-top: 197.2px;
  border: 0.5px solid #000;
  width: 249.026px;
  height: 76.455px;
}

.textShale {
  color: #000;
  font-family: Mikro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
  margin-left: 76.46px;
  margin-top: 17.48px;
}

@include xxl{

}

@include xl{

}

@include l{

}

@include lg{

}

@include md{

}

@include sm {

}

@include s{
  .firstText {
    padding-left: 22px;
    padding-top: 18px;
    padding-bottom: 31px;
    font-size: 12px;
  }

  .thirdBlock {
    order: 1;
  }

  .fourthBlock {
    order: 2;
  }

  .textShale, .blackRectangle {
    display: none;
  }

  .overlayImage {
    width: 57.298px;
    height: 43.955px;
    right: 0%;
    margin-top: 23px;
    margin-right: 61.7px;
  }

  .imageHome {
    height: 249px;
    max-width: 388px;
    width: 388px;
  }

  .text {
    margin-left: 34px;
    margin-top: 12px;
  }

  .textOverlay {
    top: -11%;
    margin-left: 41px;
    margin-top: 22px;
  }

  .section {
    height: 1488px;
    width: 100%;
  }

  .blocks {
    grid-template-columns: 1fr;
    grid-row-gap: 27px;
    margin-left: 22px;
    margin-right: 20px;
  }

  .block1 {
    height: 324px;
    width: 100%;
    max-width: 430px;
  }
}
