@import "../../utils";

.containerMain {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 0.5px solid black;
}

.containerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  height: 1272px;
  margin: 62px 116px 20px 103px;
}

.textMain {
  margin-top: 55px;
  color: #000;
  text-align: center;
  font-family: Mikro, serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: lowercase;
}

.videoBox {
  margin-top: 53px;
  width: 997px;
  height: 587px;
  flex-shrink: 0;
  background: url("~/assets/img/preview-section8.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.videoButton {
  display: flex;
  justify-content: center;
  margin-top: 240px;
}

.text {
  color: #000;
  font-family: Mikro, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
}

.textOne {
  margin-top: 86px;
  width: 1002px;
  flex-shrink: 0;
}

.textTwo {
  width: 1002px;
  flex-shrink: 0;
}

.textThree {
  width: 1002px;
  flex-shrink: 0;
}

.button {
  margin-top: 90px;
  display: flex;
  width: 422px;
  height: 107px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background: #000;
}

.textButton {
  color: #FFF;
  font-family: Mikro, serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
}

@include sm{
  .containerMain {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .containerSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    height: 465px;
    margin-left: 23px;
    margin-top: 28px;
    margin-right: 19px;

  }

  .textMain {
    margin-top: 11px;
    margin-right: 97px;
    width: 228px;
    height: 16px;
    flex-shrink: 0;
    color: #000;
    font-family: Mikro, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
  }

  .videoBox {
    margin-top: 12px;
    width: 319px;
    height: 154px;
    flex-shrink: 0;
    background: url("~/assets/img/preview-section8.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .videoButton {
    display: flex;
    justify-content: center;
    margin-top: 56px;
  }

  .text {
    margin-right: 7px;
    color: #000;
    font-family: Mikro, serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
  }

  .textOne {
    margin-top: 20px;
    width: 311px;
    flex-shrink: 0;
  }

  .textTwo {
    width: 311px;
    flex-shrink: 0;
  }

  .textThree {
    width: 311px;
    flex-shrink: 0;
  }

  .button {
    margin-top: 35px;
    display: flex;
    width: 157px;
    height: 59px;
    flex-shrink: 0;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #000;
  }

  .textButton {
    width: 94px;
    height: 19px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Mikro;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
  }
}
