@import "../../utils";

@include xxl{
  .containerMain{
    margin: 0 auto;
  }
}

.containerMain{
  display: flex;
  width: 100%;
  max-width: max(1728px);
}

.containerSection {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.containerMobile{
  display: none;
}

.containerDesktop{
  padding-right: 105px;
}

.textMain{
  margin-left: 121px;
  margin-top: 288px;
  color: #000;
  font-family: Mikro, serif;
  font-size: 110px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: lowercase;
}

.buttonStart{
  margin-top: 94px;
  margin-left: 672px;
  display: flex;
  width: 395px;
  height: 107px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background: #000;
}

.textButton{
  color: #FFF;
  font-family: Mikro, serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
}

.tableTextMain{
  color: #000;
  font-family: Mikro, serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
}

.table{
  margin-top: 93px;
  margin-left: 573px;
  margin-bottom: 114px;
}

.tableText{
  color: #000;
  font-family: Mikro, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
  list-style-type: disc;
}

@include xl{

}

@include l{

}

@include lg{

}

@include md{

}

@include sm{
  .containerMain{
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .containerSection{
    margin-left: 53px;
    margin-right: 74px;
    margin-top: 25px;
    width: 640px;
    height: 477px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
  }

  .containerDesktop{
    display: none;
  }

  .containerMobile{
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .box{
    width: 100%;
    overflow: hidden;
  }

  .boxMobileFirst{
    padding-left: 0;
  }

  .textMainMob{
    width: 513px;
    height: 112px;
    flex-shrink: 0;
    color: #000;
    font-family: Mikro, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }

  .buttonStartMob{
    margin-left: 159px;
    width: 217px;
    height: 82px;
    flex-shrink: 0;
    background: #000;
  }

  .textButtonMob{
    padding-top: 26px;
    margin-bottom: 27px;
    margin-left: 68px;
    margin-right: 69px;
    width: 80px;
    height: 29px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Mikro, serif;
    font-size: 22.115px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
  }

  .boxMobileSecond{
    margin-left: 45px;
    width: 445px;
    height: 173px;
    flex-shrink: 0;
    margin-top: 35px;
    border: 0.5px solid #000;
  }

  .tableMob{
    margin-top: 16px;
    margin-bottom: 14px;
  }

  .tableTextMainMob{
    padding-left: 36px;
    color: #000;
    font-family: Mikro, serif;
    font-size: 37px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
  }

  .tableTextMob{
    padding-left: 58px;
    list-style-type: disc;
    color: #000;
    font-family: Mikro, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
  }
}

@include s{
  .containerMain{
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .containerSection{
    margin-left: 22px;
    margin-right: 20px;
    margin-top: 211px;
    width: 388px;
    height: 457px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
  }

  .containerDesktop{
    display: none;
  }

  .containerMobile{
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .box{
    width: 100%;
    overflow: hidden;
  }

  .boxMobileFirst{
    padding-left: 38px;
  }

  .textMainMob{
    flex-shrink: 0;
    color: #000;
    font-family: Mikro, serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: lowercase;
  }

  .buttonStartMob{
    margin-left: 72px;
    width: 157px;
    height: 59px;
    flex-shrink: 0;
    background: #000;
  }

  .textButtonMob{
    margin-top: 93px;
    padding-top: 19px;
    padding-left: 49px;
    padding-right: 50px;
    width: 58px;
    height: 21px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Mikro, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
  }

  .boxMobileSecond{
    flex-shrink: 0;
    margin-top: 50px;
    border: 0.5px solid #000;
  }

  .tableMob{
    margin-top: 14px;
    margin-bottom: 25px;
  }

  .tableTextMainMob{
    padding-left: 31px;
    color: #000;
    font-family: Mikro, serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
  }

  .tableTextMob{
    padding-left: 48px;
    list-style-type: disc;
    color: #000;
    font-family: Mikro, serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
  }
}
