@import "../../utils";

.Section7 {
  width: 100%;
  height: 2420px;
  flex-shrink: 0;
  background: #3e3e3e;
  display: flex;
  flex-direction: column;
}

.rectangle {
  border: 2px solid #d9d9d9;
  width: 1002px;
  height: 590px;
  flex-shrink: 0;
  margin-top: 123px;
  margin-left: 361px;
  position: relative;
}

.previewImage {
  width: 1002px;
  height: 587px;
  flex-shrink: 0;
}

.playButton {
  width: 96.812px;
  height: 96.812px;
  flex-shrink: 0;
  margin-top: 240px;
  margin-left: 443px;
  position: absolute;
  top: 0%;
}

.previewImage2 {
  display: none;
}

.playButton2 {
  display: none;
}

.interviewText {
  color: #fff;
  font-family: Mikro, serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: lowercase;
  margin-top: 61px;
  margin-left: 401px;
}

.textReviews {
  color: #dedede;
  font-family: Mikro, serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: lowercase;
  margin-top: 276px;
  margin-left: 103px;
  margin-bottom: 29px;
}

.arrow {
  width: 41px;
  height: 41px;
  flex-shrink: 0;
  margin-top: 1134px;
  margin-left: 1575px;
  margin-right: 103px;
  position: absolute;
}

.arrow2 {
  display: none;
}

.lines {
  width: 100%;
  height: 2px;
  background: #dedede;
}

.reviews {
  margin: 40px 111px 17px 103px;
}

.recallTime {
  color: #dedede;
  font-family: Montserrat, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-variant: small-caps;
}

.buttonExpand {
  color: #faad67;
  font-family: Montserrat, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-variant: small-caps;
}

.review, .review2 {
  color: #dedede;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-variant: small-caps;
}

.reviewMobile {
  display: none;
}

.downloadButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 478px;
  height: 107px;
  padding: 10px;
  gap: 10px;
  flex-shrink: 0;
  border: 1px solid #dedede;
  margin: 77px 629px 91px 638px;
}

.textDownload {
  color: #dedede;
  font-family: Mikro, serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
}

@include xxl {

}

@include xl {

}

@include l {

}

@include lg {

}

@include md {

}

@include sm {

}

@include s {
  .Section7 {
    width: 100%;
    height: 945px;
    flex-shrink: 0;
  }

  .rectangle {
    border: 0.5px solid #d9d9d9;
    width: 388px;
    height: 208px;
    flex-shrink: 0;
    margin-top: 11px;
    margin-left: 22px;
  }

  .rectangle2 {
    margin-top: 46px;
    margin-left: 44px;
    position: relative;
  }

  .previewImage {
    display: none;
  }

  .previewImage2 {
    display: block;
    width: 308px;
    height: 133px;
    flex-shrink: 0;
  }

  .playButton {
    display: none;
  }

  .playButton2 {
    display: block;
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    position: absolute;
    top: 0%;
    margin-top: 41px;
    margin-left: 131px;
  }

  .interviewText {
    color: #dedede;
    font-family: Mikro, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
    margin-top: 30px;
    margin-left: 64px;
    position: absolute;
  }

  .textReviews {
    color: #dedede;
    font-family: Mikro, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
    margin-top: 44px;
    margin-left: 22px;
    margin-bottom: 12px;
  }

  .arrow {
    display: none;
  }

  .arrow2 {
    display: block;
    width: 17px;
    height: 17px;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: #dedede;
    margin-top: 272px;
    margin-left: 393px;
    margin-right: 20px;
    position: absolute;
  }

  .lines {
    height: 0.5px;
  }

  .reviews {
    display: flex;
    flex-direction: column;
    margin: 27px 20px 19px 22px;
    width: 388px;
    height: 131px;
    flex-shrink: 0;
  }

  .recallTime {
    color: #dedede;
    font-family: Montserrat, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-variant: small-caps;
  }

  .review, .reviewMobile {
    color: #dedede;
    font-family: Montserrat, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-variant: small-caps;
  }

  .reviewMobile {
    display: block;
  }

  .review2 {
    display: none;
  }

  .buttonExpand {
    display: none;
  }

  .downloadButton {
    width: 212px;
    height: 41px;
    flex-shrink: 0;
    border: 0.5px solid #d9d9d9;
    margin: 28px 109px 28px 110px;
  }

  .textDownload {
    color: #fff;
    font-family: Mikro, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-variant: small-caps;
  }
}
