@import "../../utils";


@include sm {
  .containerMain {
    width: 100%;
    height: 330px;
  }

  .containerSection {

    display: flex;
    flex-direction: column;
  }

  .Map {
    width: 100%;
    height: 217px;
    background: url("../../assets/img/map.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .Box {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 7px;
    margin-left: 11px;
    margin-right: 8px;
  }

  .One {
    border: 1px solid black;
  }

  .image {
    margin: 11px 17px 11px 16px;
    width: 52px;
    height: 24px;
    background: url("../../assets/img/hbh-logo.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .Two {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  .logos{
    margin: 14px 22px 14px 24px;
  }

  .Three {
    border: 1px solid black;
  }

  .number {
    margin-top: 2px;
    margin-left: 13px;
    margin-right: 8px;
    width: 180px;
    height: 28px;
    flex-shrink: 0;
    color: #000;
    font-family: Mikro, serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }

  .address {
    margin-left: 15px;
    display: flex;
    width: 176px;
    height: 8px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    font-family: Mikro, serif;
    font-size: 7px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }

  .BoxTwo{
    margin-top: 16px;
    margin-left: 21px;
    display: flex;
    flex-direction: row;
  }

  .M{
    margin-left: 275px;
  }
}
