@import "../../utils";

.containerMain {
  width: 100%;
}

.containerSection {
  padding: 48px 323px 54px;
  display: flex;
  flex-direction: column-reverse;
}

.textMain {
  color: #000;
  text-align: center;
  font-family: Mikro, serif;
  font-size: 110px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: lowercase;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 44px;
}

.parameterTab {
  color: #000;
  font-family: Mikro, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
}

.parameterTabSelected {
  color: #000;
  font-family: Mikro, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-decoration-line: underline;
  text-transform: lowercase;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttonSelectAll{
  width: 204px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

/*Styles*/


.choiceTab {
  width: 157px;
  height: 46px;
  color: #000;
  font-family: Mikro, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
  background: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.choiceTabSelected {
  width: 157px;
  height: 46px;
  color: #FFF;
  font-family: Mikro, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.partOne {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}

.item{
  width: 318px;
  height: 352px;
}

.home{
  position: absolute;
}


.cubism {
  background-image: url("../../assets/img/houseParameters/styles/one.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.chalet {
  background-image: url("../../assets/img/houseParameters/styles/two.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.classic {
  background-image: url("../../assets/img/houseParameters/styles/three.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.hightech {
  background-image: url("../../assets/img/houseParameters/styles/four.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/*Square*/

.containerSlide{
  display: flex;
  flex-direction: column;

}

.sliderText{
  margin-top: 141px;
  margin-bottom: 89px;
  color: #000;
  text-align: center;
  font-family: Mikro, serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
}

.slider{
  width: 100%;
  flex-shrink: 0;
  margin-bottom: 403px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 31px;
  height: 30px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}


.sliderNumbers{
  display: flex;
  column-gap: 145px;
}

.number{
  color: #000;
  font-family: Mikro, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
}

/*Storeys*/

.storeys {
  margin-top: 114px;
  margin-bottom: 45px;
}

.buttonStoreys{
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 34px;
  margin-bottom: 176px;
}

.buttonOne{
  width: 49px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.buttonTwo{
  width: 49px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

/*Garage*/

.garage{
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  margin-top: 74px;
  margin-bottom: 200px;
}

.withGarage{
  width: 171px;
  height: 48px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.withoutGarage{
  width: 171px;
  height: 48px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

