@import "../../utils";

.ContainerMain {
  width: 100%;
  height: 100vh;
  background: #DEDEDE;
  position: sticky;
  top: 0;
  z-index: 0;
  animation: fadeOut 4s forwards;
  animation-delay: 5s;
}

.Section {
  flex-direction: column;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first img {
  width: 500px;
  height: 500px;
  animation: riseUp 2s ease-in-out;
}

.second svg {
  margin-top: -500px;
  width: 500px;
  height: 500px;
}

@keyframes Go {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.letter1 {
  opacity: 0;

  animation: Go 0.15s forwards;
  animation-delay: 2.15s;
}

.letter2 {
  opacity: 0;

  animation: Go 0.15s forwards;
  animation-delay: 2.3s;

}

.letter3 {
  opacity: 0;

  animation: Go 0.15s forwards;
  animation-delay: 2.45s;

}

.letter4 {
  opacity: 0;

  animation: Go 0.15s forwards;
  animation-delay: 3.1s;
}

.letter5 {
  opacity: 0;

  animation: Go 0.15s forwards;
  animation-delay: 3.25s;
}

.letter6 {
  opacity: 0;

  animation: Go 0.15s forwards;
  animation-delay: 3.9s;
}

.letter7 {
  opacity: 0;

  animation: Go 0.15s forwards;
  animation-delay: 4.05s;
}

.letter8 {
  opacity: 0;

  animation: Go 0.15s forwards;
  animation-delay: 4.2s;
}

.letter9 {
  opacity: 0;

  animation: Go 0.15s forwards;
  animation-delay: 4.35s;
}

.letter10 {
  opacity: 0;

  animation: Go 0.15s forwards;
  animation-delay: 4.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes riseUp {
  0% {
    transform: translateY(200%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}


@include md {
  .first img {
    width: 300px;
    height: 300px;
  }

  .Section {
    flex-direction: column;
  }

  .second svg{
    width: 300px;
    height: 200px;
    margin-top: -250px;
  }

  .ContainerMain {
    height: 90vh;
  }
}