@import "../../../utils";

@include xxl{
  .containerSection{
    margin: 0 auto;
  }
}

.containerMain{
  padding: 8.912vw 27.89vw 6.58vw 29.4vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #DEDEDE;
}

.containerSection{
  max-width: max(1728px);
  border: 2px solid black;
  height: auto;
  flex-shrink: 0;
}

.boxFirst{
  margin-top: 3.59vw;
  margin-left: 4.34vw;
}

.textMain{
  width: 24.94vw;
  height: 3.47vw;
  flex-shrink: 0;
  color: #000;
  font-family: Mikro, serif;
  font-size: 3.36vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.textNoMain{
  margin-left: 0.12vw;
  margin-top: 0.23vw;
  width: 22.28vw;
  height: 4.8vw;
  flex-shrink: 0;
  color: #181818;
  font-family: Montserrat, serif;
  font-size: 1.16vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0.87vw;
}

.forminputmaterial{
  display: grid;
  border-bottom: 2px solid black;
  margin: 2.31vw 2.89vw 1.91vw 0.23vw;
}

.formcontrolmaterial{
  background: #DEDEDE;
}

.formcontrolmaterial::placeholder {
  color: #181818;
  font-family: Montserrat, serif;
  font-size: 1.10vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 15.51vw;
  height: 1.16vw;
  flex-shrink: 0;
}


.boxSecond{
  margin-bottom: 5.56vw;
  margin-top: 6.37vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7.47vw;
  margin-left: 4.57vw;
}

.textLow{
  width: 16.03vw;
  height: 3.88vw;
  flex-shrink: 0;
  color: #181818;
  font-family: Montserrat, serif;
  font-size: 0.93vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button{
  margin-left: 0.8vw;
  width: 12.38vw;
  height: 3.47vw;
  border: 2px solid black;
}

.buttonText{
  display: flex;
  justify-content: center;
  margin-top: 0.69vw;
}

.fontButton{
  color: #181818;
  font-family: Montserrat, serif;
  font-size: 1.39vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@include sm {
  .containerMain{
    width: 100%;
    padding: 7.1875vw 8.125vw 7.1875vw 8.6vw;
  }

  .containerSection{
    border: 0.5px solid black;
    height: auto;
    flex-shrink: 0;
  }

  .boxFirst{
    margin-top: 5.47vw;
    margin-left: 5.47vw;
  }

  .textMain{
    width: 48.59vw;
    height: 5.625vw;
    flex-shrink: 0;
    color: #000;
    font-family: Mikro, serif;
    font-size: 4.53vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }

  .textNoMain{
    margin-left: 0.3vw;
    margin-top: 0.625vw;
    width: 57.66vw;
    height: 8.75vw;
    flex-shrink: 0;
    color: #181818;
    font-family: Montserrat, serif;
    font-size: 2.66vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0.87vw;
  }

  .forminputmaterial{
    display: grid;
    border-bottom: 0.5px solid black;
    margin: 4.56vw 7.03vw 0 0.3vw;
  }

  .formcontrolmaterial{
    background: #DEDEDE;
  }

  .formcontrolmaterial::placeholder {
    color: #181818;
    font-family: Montserrat, serif;
    font-size: 2.34vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 23.75vw;
    height: 2.34vw;
    flex-shrink: 0;
  }


  .boxSecond{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.875vw;
    margin: 7.81vw 2.8vh 3.125vw 6vw;
  }

  .textLow{
    width: 35vw;
    height: 12.81vw;
    flex-shrink: 0;
    color: #181818;
    font-family: Montserrat, serif;
    font-size: 2.34vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .button{
    background: black;
    color: white;
    margin-left: 1.875vw;
    width: 35.47vw;
    height: 8.47vw;
    border: 0;
  }

  .buttonText{
    display: flex;
    justify-content: center;
    margin-top: 0.69vw;
  }

  .fontButton{
    color: white;
    font-family: Montserrat, serif;
    font-size: 3.75vw;;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
