@import "../../../utils";

@include xxl{
  .container{
    margin: 0 auto;
  }
}

.container{
  width: 100%;
  padding: 62px 103px 30px 103px;
  max-width: max(1728px);
}

.section{
  padding: 55px 262px 68px 258px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.mainText{
  margin-bottom: 53px;
  color: #000;
  text-align: center;
  font-family: Mikro, serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: lowercase;
}

.videobox{
  margin-bottom: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../../assets/img/preview-section8.jpg") no-repeat center;
  background-size: cover;
  height: 587px;
}

.paragraph{
  color: #000;
  font-family: Mikro, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
}

.button{
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  width: 422px;
  height: 107px;
  font-family: Mikro, serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
}

.end{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@include xl{

  .button{
    width: 402px;
    height: 107px;
    font-size: 46px;
  }

  .section{
    padding: 45px 182px 48px 178px;
  }

  .mainText{
    white-space: nowrap;
    font-size: 44px;
  }

  .videobox{
    height: 567px;
    margin-bottom: 66px;
  }

  .paragraph{
    font-size: 22px;
  }
}

@include l{
  .button{
    width: 331px;
    height: 90px;
    font-size: 43px;
    margin-top: 40px;
  }

  .section{
    padding: 35px 92px 48px 98px;
  }

  .mainText{
    white-space: nowrap;
    font-size: 38px;
  }

  .videobox{
    height: 455px;
    margin-bottom: 46px;
  }

  .paragraph{
    font-size: 19px;
  }
}

@include lg{
  .container{
    padding: 62px 97px 30px 84px;
  }

  .button{
    width: 310px;
    height: 72px;
    font-size: 37px;
    margin-top: 40px;
  }

  .section{
    padding: 35px 92px 48px 98px;
  }

  .mainText{
    margin-bottom: 40px;
    white-space: nowrap;
    font-size: 25px;
  }

  .videobox{
    height: 370px;
    margin-bottom: 46px;
  }

  .paragraph{
    font-size: 16px;
  }
}

@include md{
  
}

@include sm{
  .container{
    padding: 28px 19px 10px 23px;
  }

  .button{
    width: 157px;
    height: 59px;
    font-size: 16px;
    margin-top: 23px;
  }

  .section{
    padding: 11px 36px 38px 33px;
  }

  .mainText{
    margin-bottom: 12px;
    white-space: nowrap;
    font-size: 14px;
  }

  .videobox{
    height: 154px;
    margin-bottom: 16px;
  }

  .paragraph{
    font-size: 12px;
  }
}