@import "../../../utils";

@include xxl{
  .section{
    margin: 0 auto;
  }
}

.frame {
  //max-width: 997px;
  max-height: 587px;
  width: 100%;
  height: 33.97vw;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 4.9768vw;

}

.container{
  position: relative;
  z-index: 7;
  width: 100%;
  padding: 62px 103px 30px 103px;
  background: #DEDEDE;
}

.section{
  max-width: max(1728px);
  padding: 3.18287vw 15.335648vw 3.935185vw 15.046296vw;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.mainText{
  margin-bottom: 53px;
  color: #000;
  text-align: center;
  font-family: Mikro, serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: lowercase;
}

.paragraph{
  color: #000;
  font-family: Mikro, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
}

.button{
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  width: 422px;
  height: 107px;
  font-family: Mikro, serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
}

.end{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@include xxl {
  .section{
    padding: 55px 265px 68px 260px;
  }
  .frame {
    margin-bottom: 86px;
  }
}

@include xl{

  .button{
    width: 402px;
    height: 107px;
    font-size: 46px;
  }

  .section{
    padding: 45px 182px 48px 178px;
  }

  .mainText{
    white-space: nowrap;
    font-size: 44px;
  }

  .paragraph{
    font-size: 22px;
  }
}

@include l{
  .button{
    width: 331px;
    height: 90px;
    font-size: 43px;
    margin-top: 40px;
  }

  .section{
    padding: 35px 92px 48px 98px;
  }

  .mainText{
    white-space: nowrap;
    font-size: 38px;
  }

  .paragraph{
    font-size: 19px;
  }
}

@include lg{
  .container{
    padding: 62px 97px 30px 84px;
  }

  .button{
    width: 310px;
    height: 72px;
    font-size: 37px;
    margin-top: 40px;
  }

  .section{
    padding: 35px 92px 48px 98px;
  }

  .mainText{
    margin-bottom: 40px;
    white-space: nowrap;
    font-size: 25px;
  }

  .paragraph{
    font-size: 16px;
  }
}

@include md{
  .container{
    padding: 28px 86px 10px 84px;
  }

  .button{
    width: 157px;
    height: 59px;
    font-size: 16px;
    margin-top: 23px;
  }

  .section{
    padding: 11px 54px 38px 54px;
  }

  .mainText{
    margin-bottom: 25px;
    white-space: nowrap;
    font-size: 22px;
  }

  .paragraph{
    font-size: 20px;
  }

}

@include sm{
  .container{
    padding: 28px 5.4vw 0 5.9vw;
  }

  .button{
    width: 36.511628vw;
    height: 13.72093vw;
    font-size: 3.72093vw;
    margin-top: 5.3489vw;
  }

  .section{
    border-width: 0;
    padding: 0;
  }

  .mainText{
    margin-bottom: 2.79vw;
    white-space: initial;
    font-size: 3.2558vw;
    line-height: 3.907vw;
    font-weight: 400;
    letter-spacing: 0;
    text-align: left;
  }

  .paragraph{
    font-size: 2.791vw;
    font-weight: 400;
    line-height: 3.255814vw;
    letter-spacing: 0;
    text-align: left;
  }

  .frame {
    max-width: 997px;
    max-height: 587px;
    width: 100%;
    height: 40.813953vw;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
  }

  .mobSection {
    padding: 2.55814vw 8.372093vw 5.581395vw 7.67442vw;
    border-width: 0.5px;
    height: auto;
    border-color: black;
  }

  .end{
    padding: 3.023356vw 8.372093vw 6.744186vw 7.67442vw;
  }

}