@import "../../../utils";


.btn {
  position: relative;
  z-index: 3;
  cursor: pointer;
}

.btnLine {

}

.btnLineOpen {

}

.btnLineClosed1 {
  transform-origin:   0   9.5px;
  transform: rotate(45deg) translate(0, -7px);
  transition: transform 0.3s linear;
}

.btnLineClosed2 {
  transform-origin:   0   19.5px;
  transform: rotate(-45deg) translate(0,   7px);
  transition: transform 0.3s linear;
}

.collapsed {
  margin-top: -100px;
  padding-top: 115px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: #dedede;
  position: absolute;
  left: 0;
  right: 0;
  padding-left: 4.5vw;
  padding-right: 4.5vw;
  max-width: 1728px;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  animation: myAnim 0.4s ease-in-out forwards;
}

.target {
  grid-column: span 2;
}

.box {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  color: #000;
  font-family: Mikro, serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: lowercase;
}

@keyframes myAnim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@include xl {
  .collapsed {
  }

  .box {
  }
}

@include l {
  .collapsed {
  }

  .box {
    border: 0.5px solid black;
  }
}

@include lg {
  .collapsed {
  }

  .box {
  }
}

@include md {

  .item {
    font-size: 26px;
  }

  .collapsed {
    padding-top: 63vw;
    padding-bottom: 72vw;
    height: 100%;
    row-gap: 0;
  }

  .box {
    max-height: 61px;
  }
}

@include sm {
  .item {
    font-size: 26px;
  }

  .collapsed {
    padding-top: 65vw;
    padding-bottom: 71.86vw;
  }

  .box {
  }
}

@include s {
  .item {
    font-size: 24px;
  }

  .collapsed {
    padding-top: 280px;
    padding-bottom: 309px;
  }

  .box {
  }
}

