@import "../../../utils";

.containerMain {
  width: 100%;
  padding-top: 80px;
  padding-left: 101px;
  max-width: max(1728px);
}

.containerSection {
  display: flex;
  flex-direction: column;
}

.textMain {
  margin-bottom: 75px;
  width: 766px;
  height: 123px;
  flex-shrink: 0;
  color: #000;
  font-family: Mikro, serif;
  font-size: 110px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.box {
  height: 555px;
  width: 348px;
}

.table {
  margin-left: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 127px;
}


.photo {
  width: 348px;
  height: 442px;
  flex-shrink: 0;
  border: 1px solid black;
}

.One {

}

.photoOne {
  background: url("../../../assets/img/sectionMap/alexander.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.Two {

}

.photoTwo {
  background: url("../../../assets/img/sectionMap/andrewakradievich.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.Three {

}

.photoThree {
  background: url("../../../assets/img/sectionMap/alexbrigadir.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.Four {

}

.photoFour {
  background: url("../../../assets/img/sectionMap/alexbrigadir2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.Five {

}

.photoFive {
  background: url("../../../assets/img/sectionMap/fedor.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.Six {

}

.photoSix {
  background: url("../../../assets/img/sectionMap/maksim.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.main {
  width: 185px;
  height: 43px;
  flex-shrink: 0;
  color: #000;
  font-family: Mikro, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text {
  width: 240px;
  height: 25px;
  flex-shrink: 0;
  color: #000;
  font-family: Mikro, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.boxContacts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.logo {
  width: 218.097px;
  height: 100.66px;
  flex-shrink: 0;
  background: url("../../../assets/img/hbh-logo.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@include xxl {
  .containerMain{
    margin: 0 auto;
  }
}

@include xl {

}

@include l {

}

@include lg {

}

@include md {

}

@include sm {
  .containerMain{
    display: none;
  }
}

@include s {
  .containerMain {
    display: none;
  }
}








