@import "../../../utils";



.containerMain {
  position: relative;
  z-index: 7;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;

  padding-bottom: 250px;
  padding-left: 101px;
  padding-right: 101px;

  background: #DEDEDE;
}

.containerSection {
  max-width: 1728px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.textMain {
  margin-bottom: 75px;
  height: 123px;
  //width: 766px;
  color: #000;
  font-family: Mikro, serif;
  font-size: 110px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.box {
  height: 100%;
  width: auto;
}

.table {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  justify-content: space-between;
  grid-column-gap: 3%;
  grid-row-gap: 3%;
}


.photo {
  width: 348px;
  height: 442px;
  flex-shrink: 0;
  border: 1px solid black;
}

.One {

}

.photoOne {
  background: url("../../../assets/img/sectionMap/alexander.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.Two {

}

.photoTwo {
  background: url("../../../assets/img/sectionMap/andrewakradievich.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.Three {

}

.photoThree {
  background: url("../../../assets/img/sectionMap/alexbrigadir.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.Four {

}

.photoFour {
  background: url("../../../assets/img/sectionMap/alexbrigadir2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.Five {

}

.photoFive {
  background: url("../../../assets/img/sectionMap/fedor.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.Six {

}

.photoSix {
  background: url("../../../assets/img/sectionMap/maksim.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.main {
  width: 185px;
  height: 43px;
  flex-shrink: 0;
  color: #000;
  font-family: Mikro, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text {
  width: auto;
  height: 25px;
  flex-shrink: 0;
  color: #000;
  font-family: Mikro, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/*.boxContacts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.logo {
  width: 218.097px;
  height: 100.66px;
  flex-shrink: 0;
  background: url("../../../assets/img/hbh-logo.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}*/

@include xxl {
  .containerSection{
    inset: 0;
    margin: auto;
  }
}

@include xl {
  .photo {
    width: 312px;
    height: 398px;
  }
  .text {
    font-size: 14px;
  }
}

@include l {
  .photo {
    width: 256px;
    height: 326px;
  }
  .text {
    font-size: 13px;
  }
}

@include lg {
.photo {
  width: 20.7vw;
  height: 26.4vw;
}
.text {
  font-size: 1.17vw;
}
.textMain {
  margin-bottom: 30px;
  margin-top: 60px;
  height: auto;
  font-weight: 400;
  font-size: 48px;
}
.main {
  width: 18vw;
  height: 4.2vw;
  font-size: 2.34vw;
}
.containerMain {
  padding-bottom: 101px;
}

}

@include md {
.containerMain {
}
}

@include sm {
.containerMain {
  padding-left: 22px;
  padding-right: 25px;
  padding-bottom: 50px;
}
}

@include s {
.containerMain {
}
}
