@import "../../utils";

.description{
  margin-left: 103px;
  width: 1509px;
  color: #000;
  font-family: Montserrat, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.first{
  display: flex;
}

.mainText{
  margin-left: 103px;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 1178px;
  height: 60px;
  flex-shrink: 0;
  color: #000;
  font-family: Montserrat, serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.plus{
  width: 37.494px;
  height: 37.494px;
  flex-shrink: 0;
  background: url("../../assets/img/accordion/plusDesktop.svg");
}

.button{
  margin-top: 43px;
  width: 37.494px;
  height: 37.494px;
  flex-shrink: 0;
  margin-left: 300px;
  transition: transform 0.6s ease;
}

.buttonActive{
  margin-top: 43px;
  width: 37.494px;
  height: 37.494px;
  flex-shrink: 0;
  margin-left: 300px;
  transform: rotate(45deg);
}

.myTransition {
  transition: height 700ms cubic-bezier(0.65, 0, 0.35, 1);
}

.containerMain{
  width: 100%;
}

.boxOne{
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.boxTwo{
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}

.boxThree{
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}

.boxFour{
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}

.boxFive{
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}

.boxSix{
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}

@include sm{
  .description{
    margin-left: 23px;
    width: 349px;
    flex-shrink: 0;
    color: #000;
    font-family: Montserrat, serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .first{
    display: flex;
  }

  .mainText{
    margin-left: 23px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 300px;
    height: 17px;
    flex-shrink: 0;
    color: #000;
    font-family: Montserrat, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .button{
    margin-top: 15px;
    width: 17px;
    height: 17px;
    flex-shrink: 0;
    margin-left: 35px;
    transition: transform 0.6s ease;
  }

  .buttonActive{
    margin-top: 15px;
    width: 17px;
    height: 17px;
    flex-shrink: 0;
    margin-left: 35px;
    transform: rotate(45deg);
  }

  .plus{
    width: 17px;
    height: 17px;
    flex-shrink: 0;
    background: url("../../assets/img/accordion/plusMobile.svg");
  }

  .myTransition {
    transition: height 700ms cubic-bezier(0.65, 0, 0.35, 1);
  }

  .containerMain{
    width: 100%;
  }

  .boxOne{
    display: flex;
    flex-direction: column;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
    padding-bottom: 10px;
  }

  .boxTwo{
    border-bottom: 0.5px solid black;
    padding-bottom: 10px;
  }

  .boxThree{
    border-bottom: 0.5px solid black;
    padding-bottom: 10px;
  }

  .boxFour{
    border-bottom: 0.5px solid black;
    padding-bottom: 10px;
  }

  .boxFive{
    border-bottom: 0.5px solid black;
    padding-bottom: 10px;
  }

  .boxSix{
    border-bottom: 0.5px solid black;
    padding-bottom: 10px;
  }
}